@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 1440;
  height: 1024;
  top: 6001;
  left: 2677;
  border-radius: 32;
  border: 1;
  margin: 0 auto;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */
  background-color: #ffffff;
  scroll-behavior: smooth;

  font-synthesis: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #070f2b;
  border-radius: 5px;
}
